@import '../../../components/variables.scss';
@import '../../../components/base.scss';

.section-stats {
  text-align: center;
  background: url('/images/orange_bg.png') no-repeat center center;
  background-size: 100%;
  @media (max-width: $pure-lg) {background-size: auto 100%;}
  color: #fff;
  .stats-container {
    margin: 4em auto;
    width: 80%;
    .stat-container {
      i {
        display: inline-block;
        width: 20%;
        font-size: 35px;
      }
      h5 {
        display: inline-block;
        font-size: 22px;
        font-weight: 100;
      }
      h6 {
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 100;
        margin: 0;
      }
      hr {
        width: 51px;
        border: 2px solid #fff;
        margin-top: 30px;
      }
    }
  }
}