@import '../../../components/variables.scss';
@import '../../../components/base.scss';

.section-cta {
  margin: 50px 0;
  padding: 100px 0;
  color: #fff;
  background: url('/images/teal_bg.png') no-repeat center center;
  background-size: 100%;
  text-align: center;
  @media (max-width: $pure-lg) {background-size: auto 100%;}
  h2 {
    text-transform: uppercase;
    margin: 0 0 80px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  button {
    background: $green-color;
    padding: 1em 2em;
    color: #fff;
    &:hover {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      background: $orange-color;
      color: #363636;
    }
  }
}