@import '../../../components/variables.scss';
@import '../../../components/base.scss';

.section-resources {

  .pub-container {
    width: 500px;
    display: inline-flex;
    margin-left: calc(50% - 250px)
  }
  .img-container, .pub-text {
    display: inline-block;
    width: 50%;
  }
  .img-container {
    overflow: hidden;
    img {
      max-width: none;
      height: 325px;
    }
  }
  .pub-text {
    color: #fff;
    height: 325px;
    background: #2f6f84;
    background: -webkit-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #09505F 20%, #2f6f84);
    h3 {
      font-weight: 400;
      padding: 60px 0 25px 20px;
    }
    p {
      font-weight: 400;
      padding: 0 0 10px 20px;
      font-size: 16px;
    }
    .date-container {
      padding: 0 0 10px 20px;
      i {
        padding-right: 10px;
      }
      p {
        padding: 0
      }
    }
  }
}
