@import '../font.scss';
@import '../variables.scss';
@import '../base.scss';

._section {
  margin-bottom: 50px;
}

.section-story {
  margin-bottom: 0;
  text-align: center;
  background: url('../../static/images/main-bg/circle_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  .text-hero {
    padding: 10% 20% 0;
    .trademark {
      font-size: 12px;
      vertical-align: top;
    }
    p {
      font-family: 'franklin_gothic_webfont';
      font-size: 20px;
    }
  }
  @media (max-width: $screen-lg) {
  .scroll-container { padding: 2% 0 10%; }
  }
  @media (max-width: 1090px) {
  .scroll-container { padding: 0 0 5%; }
  .center-text p {margin-bottom: 20px;}
  }
  @media (max-width: $screen-md) {
    .text-hero {
      padding: 3% 10% 0;
    }
    .down-scroll {display: none;}
  }

  @media (max-width: $screen-sm) {
    background-size: ;
    background-size: auto 100%;
    height: 100%;
    .center-text {
      width: 100%;
      p { margin-top: 10px; }
    }
    .text-hero {
      padding: 2%;
    }
    .scroll-container { display: none; }
  }

  @media (max-width: $screen-ex-sm) {
    h1 { margin-bottom: 0;}
  }

  h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;
    color: $orange-color;
  }
  .scroll-container {
    padding: 8% 0 20%;
    .down-scroll {
      color: $green-color;
      font-size: 39px;
      border: 3px solid $green-color;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      [class*="fa-"] { /* Select FontAwesome */
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:hover {
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          color: $orange-color;
        }
      }
    }
  }
}

.section-stats {
  text-align: center;
  background: url('../../static/images/orange_bg.png') no-repeat center center;
  background-size: 100%;
  margin-bottom: 30px;
  @media (max-width: $pure-lg) {background-size: auto 100%;}
  color: #fff;
  .stats-container {
    margin: 4em auto;
    width: 80%;
    .stat-container {
      padding: 30px 0 30px 4%;
      text-align: left;
      [class*="fa-"] { /* Select FontAwesome */
        display: inline-block;
        width: 20%;
        font-size: 35px;
      }
      h5 {
        display: inline-block;
        font-size: 36px;
        font-weight: 100;
        padding: 10px;
        margin: 15px 0px;
        font-family: 'franklin_gothic_fsbook';
      }
      h6 {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 100;
        height: 80px;
        margin: 0;
        font-family: 'franklin_gothic_fsbook';
        letter-spacing: 3px;
      }
      hr {
        width: 51px;
        border: 2px solid #fff;
        float: left;
      }
    }
  }
}

.section-team {
  padding: 10px 0;
  background-size: 170%;
  .team-header {
    margin-bottom: 50px;
  }
  h4 {
    padding: 10px;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
  }
  .team-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .team-img-container {
    height: 125px;
    overflow: hidden;
  }
  hr {
    width: 40px;
    border: 1px solid #dc7d2e;
    margin: -15px auto 15px;
  }
  @media (max-width: $pure-lg) {background-size: auto 100%;}
  text-align: center;
  .left-1st {
    padding-left: 10%;
    @media (max-width: $pure-lg) {padding-left: 0;}
  }
  .right-1st {
    padding-right: 10%;
    @media (max-width: $pure-lg) {padding-right: 0;}
  }
  .left-2nd {
    padding-left: 21%;
    @media (max-width: $pure-lg) {padding-left: 0;}
  }
  .right-2nd {
    padding-right: 21%;
    @media (max-width: $pure-lg) {padding-right: 0;}
  }
  img {
    width: 150px;
  }
  .row-1 {
    margin-bottom: 40px;
  }
  h5 {
    margin: 10px 0;
    font-size: 20px;
    color: #10b8ab;
  }
  h6 {
    margin: 10px 0;
    font-size: 15px;
  }
  [class*="fa-"] { /* Select FontAwesome */
    padding: 0 9px;
    color: #424242;
    font-size: 20px;
    width: unset;
    &:link {
      color: #424242;
    }
  }
  @media (max-width: $pure-lg) {background-size: auto 100%;}
}

.section-resources {
  h4 {
    margin-top: 0;
    padding-top: 0;
  }
  .publications-container {
    a {
      &:link {
        text-decoration: none;
      }
      .more {
        position: absolute;
        font-size: 17px;
        margin-left: 200px;
        margin-top: 2%;
      }
      &:hover {
        .more {
          display: block;
        }
      }
    }
  }
  .pub-container {
    width: 500px;
    display: inline-flex;
    margin-left: calc(50% - 250px);
    .more {
      color: #10b8ab;
    }
  }
  .pub-text:nth-child(2) h3 {
    padding-bottom: 0px;
  }
  .img-container, .pub-text {
    display: inline-block;
    width: 50%;
  }
  .img-container {
    height: 325px;
    background-color: #343434;
    overflow: hidden;
    img {
      width: 100%;
      max-width: none;
      height: 325px;
      margin-left: 19%;
      -webkit-transform: skew(16deg, -16deg);
      -moz-transform: skew(32deg, -30deg);
      -o-transform: skew(32deg, -30deg);
      -ms-transform: skew(32deg, -30deg);
      margin-top: 14%;
    }
  }
  .pub-text {
    font-family: 'franklin_gothic_fsbook';
    color: #fff;
    height: 325px;
    background: #2f6f84;
    background: -webkit-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top, #09505F 20%, #2f6f84); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #09505F 20%, #2f6f84);
    h3 {
      font-weight: 400;
      padding: 35px 0 25px 20px;
    }
    p {
      font-weight: 100;
      padding: 0 10px 10px 20px;
      font-size: 16px;
    }
    .date-container {
      padding: 0 0 10px 20px;
      [class*="fa-"] { /* Select FontAwesome */
        padding-right: 10px;
      }
      p {
        padding: 0
      }
    }
  }
}

.section-products {
  margin-bottom: 50px;
  .left-text {
    margin: 0 135px;
    margin-bottom: 40px;
    h4 {
      border-left: 2px solid $orange-color;
    }
    p {
      padding-left: 40px;
      margin-left: 40px;
      font-size: 16px;
    }
  }
  img {
    margin: 0 auto;
    width: 88%;
  }
  @media (max-width: $pure-lg) {
    .left-text {
      margin: 50px;
    }
    img {
      margin: 10px auto;
      width: 80%;
    }
  }
  @media (max-width: $pure-sm) {
    .left-text p {
      margin-right: 0
    }
  }
}


.section-how {
  padding: 0 0 40px;
  .center-text {
    text-align: center;
    padding: 0 20%;
    margin-bottom: 50px;
  }
  .blocks-container {
    color: #6b6e6d;
    margin: 0 20%;
    .block {
      padding: 30px 25px;
      text-align: center;
      background-color: $block-bg-color;
      p {
        height: 180px;
      }
      h5 {
        color: #3bc2b7;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'franklin_gothic_fsbook';
        font-weight: 100;
      }
      [class*="fa-"] { /* Select FontAwesome */
        font-size: 60px;
        margin-bottom: 17px;
      }
      &:nth-child(1), &:nth-child(3) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #b7b7bc;
      }
      &:nth-child(2) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-top: 1px solid #b7b7bc;
        border-bottom: 1px solid #b7b7bc;
      }
      &:nth-child(4), &:nth-child(6) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #b7b7bc;
      }
      &:nth-child(5) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-top: 1px solid #b7b7bc;
        border-bottom: 1px solid #b7b7bc;
      }

    }
  }
  @media (max-width: $pure-lg) {
    .blocks-container {
      margin: 0 5%;
    }
  }
}

.section-recommendation {
  margin: 50px 0;
  padding: 100px 0;
  color: #fff;
  background: #10b8ab url('../../static/images/ge-logo.png') no-repeat center center;
  background: url('../../static/images/ge-logo.png') no-repeat 38% 38%, -webkit-radial-gradient(top, #10b8ab 50%, #0b847a 100%);
  background: url('../../static/images/ge-logo.png') no-repeat 38% 38%, -o-radial-gradient(top, g#10b8ab 50%, #0b847a 100%);
  background: url('../../static/images/ge-logo.png') no-repeat 38% 38%, -moz-radial-gradient(top, #10b8ab 50%, #0b847a 100%);
  background: url('../../static/images/ge-logo.png') no-repeat 38% 38%, radial-gradient(top, #10b8ab 50%, #0b847a 100%);
  text-align: center;
  h2 {
    margin: 0 13% 52px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 27px;
    line-height: 38px;
  }
  h3 {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  button {
    background: $green-color;
    padding: 1em 2em;
    color: #fff;
    &:hover {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      background: $orange-color;
      color: #363636;
    }
  }
}

.section-contact {
  .center-text {
    margin-bottom: 40px;
  }
  .contact-item {
    text-align: left;
    margin-left: 15%;
    [class*="fa-"] { /* Select FontAwesome */
      color: #10b8ab;
      font-size: 30px;
      display: inline-block;
      width: 15%
    }
    h6 {
      font-size: 16px;
      text-transform: none;
      font-weight: 100;
      display: inline-block;
      a {
        &:link {
          color: $text-color;
        }
      }
    }
  }
  form {
    width: 75%;
    margin: 0 auto;
    max-width: 800px;
    @media (max-width: $screen-md) { width: 95% }
    .name, #email, textarea {
      background-color: #f3f5f0;
      color: #7d7e7c;
      font-weight: 100;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 14px;
      &::-webkit-input-placeholder {
        color: #7d7e7c;
        text-transform: uppercase;

      }
      &:-moz-placeholder {
        color: #7d7e7c;
        text-transform: uppercase;

      }
      &::-moz-placeholder {
        color: #7d7e7c;
        text-transform: uppercase;

      }
      &:-ms-input-placeholder {
        color: #7d7e7c;
        text-transform: uppercase;

      }
    }
    textarea {
      margin: 30px 0;
      min-height: 175px;
    }
    .name {
      text-transform: capitalize;
      border-radius: 0;
      display: inline-block;
      width: 49.5%;
      margin-bottom: 27px;
      &:first-child {
        margin-right: 0.5%;
      }
      &:last-child {
        margin-left: 0.5%;
      }
    }
    #email {
      text-transform: lowercase;
    }
   button {
      background: $green-color;
      color: #ffffff;
      padding: 1em 4em;
      margin-top: 22px;
      &:hover {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        background: $orange-color;
        color: #363636;
      }
    }
  }
}

.section-about {
  .left-text {
    margin: 0 135px;
    margin-bottom: 0px;
    h4 {
      border-left: 2px solid $orange-color;
    }
    p {
      padding-left: 40px;
      margin-left: 40px;
      font-size: 16px;
      margin-right: 27%;
    }
    @media (max-width: $pure-lg) { p {margin-right: 0;} }
    button {
      background: $green-color;
      color: #ffffff;
      padding: 1em 4em;
      margin-top: 22px;
      &:hover {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        background: $orange-color;
        color: #363636;
      }
    }
  }

  .image-container {
    margin: 20% 19% 0 100px;
  }
  @media (max-width: $pure-lg) {
    .left-text {
      margin: 50px;
    }
    .image-container {
      margin: 50px;
    }
  }
}