html, body {
  margin: 0;
  letter-spacing: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-on-light;
  font-family: $font-family-base;
  font-weight: 100;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 1px;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h4, h5 {
  letter-spacing: 2px;
  font-family: 'franklin_gothic_fsbook';
  font-weight: 100;
}

.center-text {
  padding: 0px 20%;
  h4 {
    font-weight: 400;
    border: none;
    text-align: center;
  }
  hr {
    width: 40px;
    border: 1px solid $orange-color;
    margin: -15px auto 15px;
  }
  p {
    margin: 50px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
  }
}

h4 {
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}
