/*
 * Typography
 * -------------------------------------------------------------------------- */
@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('../../static/fonts/franklingothic-book-webfont.eot');
    src: url('../../static/fonts/franklingothic-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('../../static/fonts/franklingothic-book-webfont.woff') format('woff'),
         url('../../static/fonts/franklingothic-book-webfont.ttf') format('truetype'),
         url('../../static/fonts/franklingothic-book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
