/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #ffffff;
$text-color: #363636;
$text-on-light: #424242;
$blue-color: #00BEAE;
$orange-color: #dc7d2e;
$green-color: #afcd51;
$gray-bg-color: rgb(231, 232, 233);
$block-bg-color: #e7e8e9;

$font-family-base: 'franklin_gothic_fsbook', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-ex-sm: 768px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$pure-sm: 568px;
$pure-md: 768px;
$pure-lg: 1024px;
$pure-xl: 1280px;

/*
 * SCSS Tranistion Mixin
 * -------------------------------------------------------------------------- */

