/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #ffffff;
$text-color: #363636;
$brand-color: #21ce99;

/*
 * Typography
 * -------------------------------------------------------------------------- */
@include font-face(Franklin Gothic, './fonts/Franklin Gothic Medium SSi.ttf');

$font-family-base: 'Franklin Gothic', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
