@import '../../../components/variables.scss';
@import '../../../components/base.scss';

.section-story {
  text-align: center;
  background: url('/images/main-bg/circle_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  .text-hero {
    padding-top: 10%;
  }
  @media (max-width: $screen-lg) {
  .scroll-container { padding: 2% 0 10%; }
  }
  @media (max-width: 1090px) {
  .scroll-container { padding: 0 0 5%; }
  .center-text p {margin-bottom: 20px;}
  }
  @media (max-width: $screen-md) {
    .center-text {
      width: 75%
    }
    .text-hero {
      padding-top: 3%;
    }
    .down-scroll {display: none;}
  }

  @media (max-width: $screen-sm) {
    background-size: $screen-sm;
    height: 390px;
    .center-text {
      width: 100%;
      p { margin-top: 10px; }
    }
    .text-hero {
      padding-top: 2%;
    }
    .scroll-container { display: none; }
  }

  @media (max-width: $screen-ex-sm) {
    h1 { margin-bottom: 0;}
  }

  h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: $orange-color;
  }
  .scroll-container {
    padding: 15% 0 20%;
    .down-scroll {
      color: $green-color;
      font-size: 45px;
      border: 3px solid $green-color;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      i {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:hover {
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          color: $orange-color;
        }
      }
    }
  }
}